.container {
  position: relative;
  overflow-y: auto;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  color: white;
}

.goBackButton {
  margin-bottom: 1rem;
  transition: all 300ms;
  padding: 0.5rem;
  cursor: pointer;
}

.goBackButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.itemContainer > * + * {
  margin-top: 0.5rem;
}

.baseItem {
  position: relative;
  transition: all 300ms;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
}

.baseItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.baseItemTitle {
  padding-left: 2rem;
}

.activeIconContainer {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.subMenuContainer > * + * {
  margin-top: 0.5rem;
}

.subMenuSlotContainer {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.subMenuSlotContainer > * + * {
  margin-left: 0.5rem;
}

.subMenuSlotTitle {
  color: #e5e7eb;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subMenuSlotIcon {
  width: 1.25rem;
  height: 1.25rem;
}
