.indicator {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  animation: fadeOut 500ms linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
