.container {
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    transparent
  );
  transition: 300ms;
  opacity: 1;
  visibility: visible;
}

.container.hide {
  opacity: 0;
  visibility: hidden;
}

.sliderContainer {
  margin-bottom: 1rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.leftButtonContainer {
  display: flex;
  align-items: center;
}

.rightButtonContainer {
  display: flex;
  align-items: center;
}

.leftButtonContainer > * + * {
  margin-left: 1rem;
}

.rightButtonContainer > * + * {
  margin-left: 1rem;
}

.container :global(.control-button) {
  width: 2rem;
  height: 2rem;
}
