.container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 300ms;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container.interacting {
  bottom: 6rem;
}

.text {
  width: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.125rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  white-space: pre-wrap;
}
