/* add css module styles here (optional) */

.container {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
  }
  
  .playerContainer {
    width: 100%;
    height: 100%;
  }
  
  .controlsContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  
  .overlayContainer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  