.container {
  width: 100%;
  padding: 1rem;
  visibility: visible;
  opacity: 1;
  transition: visibility 300ms, opacity 300ms;
}

.container.inactive {
  visibility: hidden;
  opacity: 0;
}

.controlsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fullscreenButton {
  width: 1rem;
  height: 1rem;
}

.sliderContainer {
  margin-top: 0.5rem;
}
